
@{
    ViewData["Title"] = "About";
}

<div class="d-flex justify-content-around">
    <div class="p-2" style="border: 3px solid forestgreen">
        <h3>About Us</h3>
        <p>
            Founded in 2016, the AAC is a nonprofit organization located in North-West side of the beautiful Transylvanian town, Oradea, Romania.
            Our highly visible location promotes excellent community interaction with our animals and programs. Visitors are greeted by our happy, tail-wagging dogs and friendly purring cats.
            Since its inception, the AAC has rescued thousands of animals and placed them in loving forever homes. We strive to shatter the many negative stereotypes about abandoned animals.
            By encouraging people to adopt instead of buying a pet, and educating the public about the importance of spaying and neutering, we can put an end to the
            unnecessary killing of adoptable animals and realize a future where there are no more homeless pets.
        </p>
    </div>
    <div class="p-2" style="border: 3px solid blue">
        <h3>Rescue, Adoption & Education</h3>
        <p>
            The AAC rescues animals from kill shelters, abandonment, hoarding cases, overcrowded regional shelters, and cases of neglect.  We partner with regional shelters and rescues to save animals. Many regional shelters are stressed at max capacity, therefore the AAC does not accept owner surrenders.  We provide every animal with necessary veterinary care, spay or neuter them, and socialize them with other animals and people. The AAC provides a warm, cheerful, and calming environment where our animals can relax and play while we work to find them their forever homes. If you are looking to adopt a dog or a cat we have a wide variety of animals that are seeking new loving homes.
        </p>
    </div>
    <div class="p-2" style="border: 3px solid purple">
        <h3>Spay/Neuter Wyoming Program</h3>
        <p>
            Millions of adoptable dogs and cats are euthanized in America each year due to overcrowding in shelters. In 2009, the AAC began to attack the root of the pet overpopulation problem by launching our Spay/Neuter Wyoming Program; a low-cost, mobile, spay and neuter effort spearheaded by AAC board member Dr. Heather Carleton. Our mobile spay/neuter program travels across Wyoming, holding low-cost clinics that make pet sterilization services available to those who would otherwise not be able to afford to fix their animals.  Since 2009, our spay/neuter program has fixed more than 10,000 animals. With our newly created Voucher Program, Wyoming residents can also apply for a low-cost spay/neuter voucher from participating veterinarians across the state. No more waiting for us to come to you!
        </p>
    </div>


</div>

