@{
    ViewData["Title"] = "Contact";
}
<h3><em>Don't hesitate to contact us if you have any question. </em></h3>


<address>
    Oradea, Romania<br />
    Str. Lapusului nr.3, 410448<br />
    <ul>
        <b>Call us at:</b>
        <li><a href="tel:0738278987">0738.278.987</a></li>
        <li><a href="tel:0259945285">0259.945.285</a></li>
    </ul>
    <strong>Working hours:</strong> 09:00-17:00 L-S
</address>

<address>
    <strong>Email support:</strong> <a href="mailto:Support@example.com">Adoptioncenter@support.com</a><br />
    <strong>Donation account:</strong> IBAN: BTRL08082728118627
</address>



@*THIS IS MADE WITH MAPS EMBED API AND IT'S TOTALLY FREE,BUT REQUESTS AN API KEY*@
<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=47.063418,21.911488&key=AIzaSyBUalcCqnQjvVsxcHjbLaZN6UJww28V90s" allowfullscreen></iframe>
@*THIS IS MADE JUST SIMPLY, WITHOUT AN API KEY
<iframe width="600" height="450"
        src="https://maps.google.com/maps?q=47.063418,21.911488&hl=es;z=14&amp;output=embed"></iframe>
*@