@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Zoo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in WebApplication1.Controllers.AnimalsController.Animals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => animal.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@animal">Edit</a> |
                    <a asp-action="Details" asp-route-id="@animal.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@animal.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>